params.executor = "slurm"

params.default_queue = 'mit_normal'
params.gpu_queue = 'mit_normal_gpu'

// Runtimes are defined by https://orcd-docs.mit.edu/running-jobs/overview/#partitions
params.max_normal_runtime_in_minutes = 12*60 + 'm'
params.max_gpu_runtime_in_minutes = 6*60 + 'm'

apptainer {
    enabled = true
    autoMounts = true
    apptainer.enabled = true
    apptainer.autoMounts = true
    platform = 'linux/amd64'
    envWhitelist = ['KACHERY_ZONE', 'KACHERY_API_KEY', 'NUMBA_CACHE_DIR', 'HDF5_USE_FILE_LOCKING', 'HF_HOME']
}

process {
    executor = 'slurm'
    queue = params.default_queue
    debug = true

    containerOptions = "--bind \$HOME:\$HOME,/orcd/data/dandi/001:/orcd/data/dandi/001"

    withName: job_dispatch {
        cpus=4
        memory='32 GB'
        time=params.max_normal_runtime_in_minutes
    }
    withName: preprocessing {
        cpus=16
        memory='256 GB'
        time=params.max_normal_runtime_in_minutes
    }
    withName: spikesort_kilosort4 {
        cpus=16
        memory='64 GB'
        containerOptions='--nv'
        clusterOptions='--gres=gpu:1'
        queue=params.gpu_queue ?: params.default_queue
        time=params.max_gpu_runtime_in_minutes
    }
    withName: spikesort_kilosort25 {
        cpus=16
        memory='64 GB'
        containerOptions='--nv'
        clusterOptions='--gres=gpu:1'
        queue=params.gpu_queue ?: params.default_queue
        time=params.max_gpu_runtime_in_minutes
    }
    withName: spikesort_spykingcircus2 {
        cpus=16
        memory='64 GB'
        time=params.max_normal_runtime_in_minutes
    }
    withName: postprocessing {
        cpus=16
        memory='64 GB'
        time=params.max_normal_runtime_in_minutes
    }
    withName: curation {
        cpus=4
        memory='32 GB'
        time=params.max_normal_runtime_in_minutes
    }
    withName: visualization {
        cpus=4
        memory='32 GB'
        time=params.max_normal_runtime_in_minutes
    }
    withName: results_collector {
        cpus=4
        memory='32 GB'
        time=params.max_normal_runtime_in_minutes
    }
    withName: quality_control {
        cpus=16
        memory='64 GB'
        time=params.max_normal_runtime_in_minutes
    }
    withName: quality_control_collector {
        cpus=4
        memory='32 GB'
        time=params.max_normal_runtime_in_minutes
    }
    withName: nwb_subject {
        cpus=4
        memory='32 GB'
        time=params.max_normal_runtime_in_minutes
    }
    withName: nwb_ecephys {
        cpus=4
        memory='256 GB'
        time=params.max_normal_runtime_in_minutes
    }
    withName: nwb_units {
        cpus=4
        memory='32 GB'
        time=params.max_normal_runtime_in_minutes
    }
}


dag {
    enabled = true
    file = RESULTS_PATH + '/nextflow/dag.html'
    overwrite = true
}

report {
    enabled = true
    file = RESULTS_PATH + '/nextflow/report.html'
    overwrite = true
}

timeline {
    enabled = true
    file = RESULTS_PATH + '/nextflow/timeline.html'
    overwrite = true
}

trace {
    enabled = true
    file = RESULTS_PATH + '/nextflow/trace.txt'
    overwrite = true
}
